.favorit{
    padding-top: 84px;
    h2{
        color: $color2;
        font-size: $font35;
        font-family: $bolder;
        margin-bottom: 45px;
    }
    .fa-heart{
        color: $color2;
    }
}