$main-color:#FFFFFF;
$color1:#333333;
$color2:#3598DB;
$color3:#FFB103;
$color4:#999999;
$color5:#3598DB;

$p85:85px;
$m85:85px;

$font16:16px;
$font17:17px;
$font20:20px;
$font22:22px;
$font24:24px;
$font25:25px;
$font28:28px;
$font30:30px;
$font32:32px;
$font33:33px;
$font35:35px;
$font40:40px;
$font45:45px;
$font55:55px;
$font65:65px;
$font90:90px;
$font95:95px;
$font100:100px;
$font200:200px;

$defult:Cairo;
$bolder:Cairo2;
